<script>
  const prefersDarkMode = window.matchMedia("(prefers-color-scheme:dark)").matches; // true
  if (prefersDarkMode === true) {
	  theme = "dark"
  } else {
	  theme = "light"
  }
  var remark_config = {
    host: "https://r42-arya.p.projectsegfau.lt",
    site_id: "arya.p.projectsegfau.lt",
	theme: theme,
  }
</script>
<script>!function(e,n){for(var o=0;o<e.length;o++){var r=n.createElement("script"),c=".js",d=n.head||n.body;"noModule"in r?(r.type="module",c=".mjs"):r.async=!0,r.defer=!0,r.src=remark_config.host+"/web/"+e[o]+c,d.appendChild(r)}}(remark_config.components||["embed"],document);</script>
<noscript>Sadly, the commenting engine I use requires JavaScript. Please enable JS if you want to comment.</noscript>
