<footer>
  <hr>
  <p>Made without &lt;3 by Arya</p>
  <p>Website contents are licensed under CC0</p>
  <p>Blog contents are licensed under CC BY-SA 4.0</p>
  <p>Site generator is licensed under AGPL v3</p>
  <p>See <a href=/copyright.html>/copyright</a> for more license information</p>
  <p>Find the Source Code of the website on <a href=https://codeberg.org/aryak/website>Codeberg</a>
</footer>
