<header>
  <nav>
    <a href="/">Home</a>
    <a href="/#blog-rss">Blog</a>
    <a href="/contact.html">Contact</a>
    <a href="/projects.html">Projects</a>
    <a href="/talks.html">Talks</a>
  </nav>
</header>
