body {
    color: #fff;
    background: #2b303b;
    line-height: 1.5;
    font-size: 1rem;
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
    margin: 0;
}
a { color: #aaf; text-decoration: none; }
a:hover { color: #555580; text-decoration: underline; }
main, footer, header > nav {
    padding: 0 .75rem 0 .75rem;
    margin: auto;
    max-width: 36rem;
}
header { background: #232830; text-align: center; max-width: none; width: 100%; }
header > nav { margin: auto; max-width: 36rem; padding: .75rem; }
header > nav > a { margin-right: .75rem; }
img {
    display: block;
    height: auto;
    max-width: 100%;
}
pre, code {
	font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
    background: #fff;
	color: #000;
}
code { padding: .30rem; max-width: 100%; word-break: break-all; }
pre {
    display: block;
    overflow-x: auto;
    overflow-y: hidden;
    padding: .75rem;
}
@media (prefers-color-scheme: light) {
	body { color: #000; background: #fff; }
    header a { color: #aaf; }
    a { color: #00f; }
	pre, code { color: #fff; background: #171a20; }
	#title-block-header { color: #fff }
}

